doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Bootstrap CSS
    link(rel='stylesheet' href='/bscss/bootstrap.min.css')
    link(rel='stylesheet', href='/estilo/login.css')
    title Login
  body
   h1 Pagina Inicial de Login
      



      script(src='/jquery/jquery.slim.min.js')
      script(src='/popperjs/popper.min.js')
      script(src='/bsjs/bootstrap.min.js')