<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/estilo.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>

      <!-- Custom styles for this template -->
      <link href="css/estiloequipe.css" rel="stylesheet">

    <title>Nossa Equipe</title>
  </head>
  <body>

    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand">
                <img src="img/LOGO_NED.png" alt="" width="80">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="paginaInicial.html">Página Inicial</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#">Projeto Negritude em Debate</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Mostra Fotográfica</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Contatos</a>
                </li>
              </ul>
              <!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form> -->
            </div>
          </div>
        </nav>
    </header>
      
    <main>
      
        <h1>Nossa Equipe</h1>
        <div class="container marketing">
          <!-- Three columns of text below the carousel -->
          <div class="row">
            <div class="col-lg-4">
              <img src="img/fabio.jpg" alt="" width="200px" class="rounded-circle">
      
              <h2>Fábio Luiz Faria da Silva</h2>
              <p>Fábio Luiz Faria da Silva
                Possui graduação em Engenharia da Computação, especialização em Docência e Licenciatura Pedagógica em História. Atualmente é professor efetivo no IFMS na área de Desenvolvimento/Desenvolvimento Web e membro do NEABI. É ativista em movimentos sociais e amante das artes, em especial, a música
                </p>
              <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img src="img/AnaPaula.jpg" alt="" width="50%" class="rounded-circle">
      
              <h2>Ana Paula Archanjo Batarce</h2>
              <p>Ana Paula Archanjo Batarce, mulher, preta, mãe, feminista, sindicalista, pesquisadora, professora e doutora em Geografia. Trabalha na Universidade Federal do Mato Grosso do Sul. Militante da luta antirracista e apaixonada pela diáspora Africana, pela população afro-brasileira e sua diversidade. Coordenadora do projeto de extensão Negritude em Debate.
            </p>
              <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img src="img/Cafola.jpg" alt="" width="50%" class="rounded-circle">
      
              <h2>Diego Aparecido Cafola</h2>
              <p>Cafola tem experiência como docente do Ensino Médio em escola rural (CEPA), em projetos para utilização dos recursos naturais como acréscimo na subsistência (UFMS) nas comunidades rurais (ribeirinhos, quilombolas e assentamentos) no Mato Grosso do Sul (MS) e com pesquisa dentro das Unidades de Conservação (UC) pelo Centro de Estudos em Meio Ambiente, Áreas Protegidas e Desenvolvimento Sustentável (CEMAP/UEMS).
                Desde 2016 trabalha como pesquisadora cultural, utilizando a perspectiva decolonial no direcionamento da encruzilhada entre gênero, sexo, raça e classe de sujeitos subalternizados. Tem graduação em Turismo e História, especialista em História da América e Mestre em Estudos Culturais.
                </p>
              <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
            </div>

            <div class="col-lg-4">
              <img src="img/Thamires.jpg" alt="" width="50%" class="rounded-circle">
      
              <h2>Thamires</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..
              </p>
              <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
            </div>

            <div class="col-lg-4">
              <img src="img/Eliane.jpg" alt="" width="50%" class="rounded-circle">
      
              <h2>Eliane Cristina de Sá</h2>
              <p>Eliane Cristina de Sá. Acadêmica em Geografia licenciatura-UFMS/CPAQ, ilustradora, membro do projeto Negritude em debate MS.</p>
              <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
            </div>

            <div class="col-lg-4">
              <img src="img/Francisco.jpg" alt="" width="50%" class="rounded-circle">
      
              <h2>Francisco Givanildo dos Santos</h2>
              <p>Professor da Educação Básica (Estadual e Municipal), há 27 anos. Formado em Licenciatura Plena em História, Especialização em História da América Latina e Mestrado em Educação. Representante sindical de base e atuante na luta da categoria pela valorização profissional e militante dos movimentos sociais, em especial na pauta dos direitos humanos.
              </p>
              <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
            </div>

            <div class="col-lg-4">
              <img src="img/Alessandro.jpeg" alt="" width="50%" class="rounded-circle">
      
              <h2>Alessandro Riquelme Ribeiro</h2>
              <p>Professor da Educação Básica (Estadual e Municipal), há 27 anos. Formado em Licenciatura Plena em História, Especialização em História da América Latina e Mestrado em Educação. Representante sindical de base e atuante na luta da categoria pela valorização profissional e militante dos movimentos sociais, em especial na pauta dos direitos humanos.
              </p>
              <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
            </div>

            <div class="col-lg-4">
              <img src="img/Jussara.jpg" alt="" width="50%" class="rounded-circle">
      
              <h2>Jussara Leão Balbueno</h2>
              <p>Jussara Leão Balbueno. Graduada em Letras-UFMS/CPAQ, mestranda em Estudos Culturais-PPGCult/UFMS, membro do grupo de pesquisa Lindecult-PPGCult/UFMS, membro Neabi-IFMS/Aquidauana, membro do projeto Negritude em Debate.
              </p>
              <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
            </div>

            <div class="col-lg-4">
              <img src="img/Roberto.jpg" alt="" width="50%" class="rounded-circle">
      
              <h2>Roberto Pereira de Freitas Neto</h2>
              <p>Meu nome é Roberto Pereira de Freitas Neto, mas todo mundo me chama só de Neto. Tenho 15 anos e estou cursando Informática lá no IFMS. Sou bolsista do projeto Negritude em Debate, no qual faço parte da equipe de produção audiovisual. Também faço pesquisas sobre os quilombolas aqui do MS e ajudo o projeto no que puder aqui =).
              </p>
              <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
            </div>

            <!-- <div class="col-lg-4">
              <img src="img/Roberto.jpg" alt="" width="50%" class="rounded-circle">
      
              <h2>Sabrina</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..
              </p>
              <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div> -->


          </div><!-- /.row -->

        </div><!-- /.container -->
        
        <hr class="featurette-divider">
      
        <!-- FOOTER -->
        <footer class="container">
          <p class="float-end"><a href="#">Voltar para topo</a></p>
          <p>&copy; 2021 &middot; <a href="#">Privacy</a> <img src="img/logo_ifms_fund_preto.jpeg" width="10%"> <img src="img/ufms_logo_negativo_pb_rgb.png" width="10%"> <img src="img/neabi.png" width="10%">&middot; <a href="#"></a></p>
        </footer>
    </main>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    
  </body>
</html>