<!doctype html>
  <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  
      <!-- <script src="/JS/form-album.js"></script> -->

      <link rel="stylesheet" href="/estilo/form-album-digital.css">

      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  
      <title>Álbum Digital</title>
    </head>
    <body>
        <div class="container">
            <H1>Cadastro de Álbum Digital</H1>
        <form class="row g-3">
            <div class="col-md-4">
              <label for="validationDefault01" class="form-label">Nome</label>
              <input type="text" class="form-control" id="nome" required>
            </div>
            <div class="col-md-4">
              <label for="validationDefault02" class="form-label">CPF Responsável, caso seja menor de idade, CPF dos pais</label>
              <input type="text" class="form-control" id="cpf" required>
            </div>
            <div class="col-md-4">
              <label for="validationDefaultUsername" class="form-label">email</label>
              <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
                <input type="text" class="form-control" id="email"  aria-describedby="inputGroupPrepend2" required>
              </div>
            </div>
            <div class="col-md-3">
              <label for="validationDefault03" class="form-label">Cidade</label>
              <input type="text" class="form-control" id="cidade" required>
            </div>
            <div class="col-md-3">
              <label for="validationDefault03" class="form-label">Data Nascimento</label>
              <input type="date" class="form-control" id="dataNascimento" required>
            </div>
            <div class="col-md-3">
              <label for="validationDefault04" class="form-label">Estado</label>
              <select class="form-select" id="estado" required>
                <option selected disabled value="">Escolher...</option>
                    <option>MS</option>
                    <option>SP</option>
                    <option>RJ</option>
                    <option>RS</option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="validationDefault05" class="form-label">Telefone</label>
              <input type="text" class="form-control" id="telefone" required>
            </div>
            
            <div class="tab-pane div-tab" id="autorizacao" role="tabpanel" aria-labelledby="autorizacao-tab">
                <div class="col-md-12">
                  <label for="objetivos" class="form-label">Objetivos</label>
                  <textarea readonly type="text" class="form-control"
                        id="objetivos">O projeto tem como objetivo visibilizar a beleza a cultura e a ancestralidade negra existentes no Mato Grosso do Sul, historicamente apagados e fora dos padrões estéticos eurocêntricos.
                        Oportunizará assim, as discussões étnico-raciais capazes de qualificar e encorajar as professoras e professores a trabalharem com a problemática da população negra, em sala de aula, na tentativa de diminuir o arranjo da desigualdade existente no país.
                        Para isso, a partir das fotografias selecionadas para a mostra fotográfica, irá se elaborar um álbum de fotografias que ao ser finalizado, será direcionado para escolas públicas, com a intenção de contribuir com o debate da Lei 10.639/03 que determina o ensino de História e Cultura Afro-brasileira nas escolas.
                    </textarea>
                </div>
                <div class="col-md-12">
                  <label for="regras" class="form-label">Regras</label>
                  <textarea readonly type="text" class="form-control" id="regras">
                        &#128420; Cada pessoa poderá participar com uma fotografia
                        &#128420; A fotografia deve ser no formato digital JPG/JPEG
                        &#128420; A fotografia poderá ser colorida ou preta e branco
                        &#128420; A técnica para criação é livre mas precisa seguir o tema Beleza Negra Resiste
                        &#128420; Cada pessoa só poderá ser premiada uma única vez
                        &#128420; As fotografias serão selecionadas por um júri composto de pessoas pretas, que julgará a beleza negra a partir dos elementos que permitirão evidenciar as conexões com as raízes negras, com a ancestralidade negra, com a diáspora negra, com as pequenas Áfricas que existem em cada pessoa negra que vive em Mato Grosso do Sul
                        &#128420; Toda fotografia deve ser encaminhada com a autorização de uso de imagem. A UFMS e o IFMS reservam para si, desde já, o direito incontestável de reproduzir as fotografias inscritas em seu material institucional a qualquer momento e por tempo indeterminado, dando os devidos créditos ao fotógrafo.
                    </textarea>
                </div>
                <div class="row">
                  
                  <div class="col-md-6">
                    <label for="validationDefault01" class="form-label">Titulo da Foto</label>
                    <input type="text" class="form-control" id="tituloFoto" required>
                  </div>

                  <div class="col-md-6">
                    <label for="validationDefault01" class="form-label">Nome da(o) Fotógrafa(o)</label>
                    <input type="text" class="form-control" id="nomeFotografo" required>
                  </div>

                </div>
                <div class="col-md-12">
                  <label for="nomeFoto" class="form-label">Foto</label>
                  <input class="form-control" type="file" id="nomeFoto" name="nomeFoto">
                </div>
                
    
                <div class="row div-autorizacao">
                  <div class="col-md-12">
                    <textarea readonly type="text" class="form-control" id="objetivos" style="height: 100px">
                        Autorizo a Universidade Federal do Mato Grosso do Sul e o Instituto Federal do Mato Grosso do Sul, bem como a/o fotógrafa/o a utilizarem a minha imagem para fins de participação na mostra fotográfica "Beleza Negra Resiste". Poderão utilizá-la na divulgação de materiais impressos, audiovisuais e eletrônicos, sem fins lucrativos e também poderá ser utilizada por tempo indeterminado. Fica assim autorizada, de livre e espontânea vontade, para os mesmos fins a cessão de direitos de veiculação, não recebendo para tanto qualquer tipo de remuneração. 
                        &#013;
                        Por meio desta autorização, eu libero a UFMS e o IFMS, acima citados, seus representantes legais ou fornecedores, de futuros processos e queixas por violação de privacidade ou de direito de propriedade que eu poderia ter em relação a tal produção.  
                        &#013;
                        Ao marcar o aceite da leitura do termo e autorização da imagem, concordo com as regras e autorização dispostas nesta página.
                    </textarea>
                  </div>
                </div>

                <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="dataAutorizacao" required>
                      <label class="form-check-label" for="invalidCheck2">
                        Li e concordo com os termos e privacidade
                      </label>
                    </div>
                </div>

              </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit">Enviar</button>
            </div>
          </form>
        </div>

        <hr class="featurette-divider">

        <footer class="container">
          <p class="float-end"><a href="#">Back to top</a></p>
          <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
        
      <!-- Optional JavaScript; choose one of the two! -->
  
      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
      <!-- Option 2: Separate Popper and Bootstrap JS -->
      <!--
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
      -->
    </body>
</html>