doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Bootstrap CSS
    link(rel='stylesheet' href='/bscss/bootstrap.min.css')
    link(rel='stylesheet', href='/estilo/login.css')

    script(src='/jquery/jquery.slim.min.js')
    script(src='/popperjs/popper.min.js')
    //- script(src='/bsjs/bootstrap.min.js')
    script(src='/JS/AutenticacaoLogin.js')

    title Login
  body
    .container
      .row.content
        .col-md-6
          img.img-fluid(src='/imagem/capa.jpg', alt='image')
        .col-md-6.mb-3
          .col-md-6
            h3.signin-text.mb-3 Entrar
            form
              .form-group
                label(for='email') Email
                input#email.form-control(type='email' name='email')
              .form-group
                label(for='password') Password
                input#senha.form-control(type='password' name='senha')

                input#enviar.btn.btn-success(type='button' name='enviar' value='Enviar')
           
          //- input#enviar.btn.btn-success(type='button' name='enviar' value='Enviar')
      script(src='/jquery/jquery.slim.min.js')
      script(src='/popperjs/popper.min.js')
      script(src='/bsjs/bootstrap.min.js')